.wrapper {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-radius: 20px;
  border-bottom: 0.5px solid rgb(58, 58, 58);
}
.headerWrapper {
  height: 20px;
  width: calc(60vw - 15vw);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 5;
}
.wrapper img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.wrapper small {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.507);
}
.header {
  display: flex;
  align-items: center;
}

.header a {
  color: aqua;
  margin: 0;
  padding: 0;
}
.statusWrapper {
  background-color: rgba(177, 177, 177, 0.219);
  border-radius: 7px;
  padding: 5px 10px;
}
.status {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  display: inline-block;
  margin: 0;
  margin-right: 5px;
}

.public {
  background-color: lime;
}
.private {
  background-color: red;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meta {
  background-color: rgba(177, 177, 177, 0.219);
  border-radius: 7px;
  font-size: 12px;
  display: flex;
  align-items: center;
  height: 22px;
  width: fit-content;
  padding: 0 10px;
}

.shareBtn {
  padding: 10px;
  display: flex;
  justify-content: center;
  /* background-color: transparent; */
}
