html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: var(--dark-bg-900);
}
.CodeMirror {
  border: 1px solid #eee;
  height: 64vh !important;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: Roboto;
  letter-spacing: 0.75px;
  box-sizing: border-box;
}

:root {
  /* background */
  --dark-bg: #25262b;
  --dark-bg-900: rgb(28, 28, 32);
  --dark-bg-800: #2d2e33;
  --dark-bg-700: rgb(32, 32, 37);
  /* border */
  --dark-border: 1px solid #33353a;
  /* shadow */
  --txt-shadow: 2px 2px 60px #0079f1;
}

/* customize scroll bar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #bebebe;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: #bdbdbd;
}

/* loading state */
.loader {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 5px var(--dark-bg-900) solid;
  border-bottom: 5px#0079f1 solid;
  animation: spin 2s ease infinite;
  box-shadow: 4px 4px 30px #0079f1;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
